<h2><%= @user.email %>'s images </h2>

  <% if current_user != @user %> 
    <% if !current_user.following? @user %>
      <%= button_to "Follow", follow_user_path(@user) %>
    <% elsif %>
      <%= button_to "UnFollow", unfollow_user_path(@user), method: :delete %>
    <% end %>
  <% end %>
<%= render @images %>

